
h1 {
                color:red;
                background:yellow;
            }
                        
#first {
                color:red;
                background:yellow;
            }
h3 {
                color:red;
                background:yellow;
            }