
h1 {
                color:red;
                background:yellow;
            }
                        
#first {
                color:red;
                background:yellow;
            }
h3 {
                color:red;
                background:yellow;
            }
#second{
    
    color:orangered;
    background:blue;
}