
h1 {
                color:orangered;
            
            }
                        
#first {
                color:blueviolet;
                background:yellow;
            }
h3 {
                color:gold;
                background:green;
            }
#second{
    
    color:orangered;
    background:blue;

}

#three
{
    color:aqua;
    background:pink;
}
